h1 {
    padding-right: 80px;
    margin-left: 20px;
}
.btnTabela {
    margin-left: 10px;
    margin-top:  1.6%;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
}


#pasteArea {
   width: 98.4%; 
   height: 6800px; 
   border: 1px solid #ccc; 
   padding: 10px;
}

